.container {
  max-width: 50em;
}

.new {
  width: 20em;
  margin: 0 auto;
}

.jumbotron {
  text-align: center;
}

ul.admin {
  text-align: left;
  list-style: none;
  li {
    float: left;
    padding: 0 1em;
  }
}
